/* -----------------------------------
Template:  Haven Real Estate html5 template

NOTE: This is Header style file. Slider css style included in this file.

--------------------------------------*/
.display-table {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}
.display-tablecell {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}
.overlay::before {
  background: rgba(11, 11, 11, 0.55) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}
.slider-container {
  position: relative;
}
.slide1-text {
    position: relative;
    z-index: 9;
}
.title-1 h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
}
.title-2 h1 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
}
.title-2 h1 span {
    color: #f9c322;
}
.slide1-text .desc p {
    color: #ffffff;
    font-size: 16px;
}

.slide1-text .contact-us a {
    background: #00132b none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block !important;
    height: 40px;
    line-height: 38px;
    margin-top: 40px;
    padding: 0 18px;
    border: 1px solid transparent;
}
.slide1-text .contact-us a:hover {
  background: #ffffff none repeat scroll 0 0;
  border-color: #00132b;
  color: #00132b;
  border-color: #fff;
}
.slide1-text .title-2 {
    display: block;
    padding-bottom: 6px;
}

















