

.title{
	color: #191919;
}
/*===============================================>> Header*/
.topbar.dark{
	background: #191919;
}
.layout_dark .header-upper, .header-upper.dark {
    background: #555;
    padding: 10px 0px;
}
.topbar.dark ul.breadcrumb_top > li.colors{
	background: #edbc32;
}

.header-upper .logo a{
	padding: 10px 0px 0px 0px;
}

.layout_boxed nav.navbar.bootsnav.sticked .navbar-brand, .layout_dark nav.navbar.bootsnav.sticked .navbar-brand, .layout_default nav.navbar.bootsnav.sticked .navbar-brand, .white_header nav.navbar.bootsnav.sticked .navbar-brand, .layout_double nav.navbar.bootsnav.sticked .navbar-brand{
	padding: 5px 0;
}
.white_cap .price{
	background:#edbc32;
}
a.back-to{
	background:#edbc32;
}

a.back-to:hover, a.back-to:focus{ background:#edbc32;}
.default_clr{
	background: #555; 
}
.btn-blue{
	background:#edbc32;
}
.nstSlider .bar{
	background: #edbc32;
}
.more-filter .fa{
	background: #c99231;
}
.pager li > a:hover, .pager li > a:focus, .pager li.active > a{
	background: #c99231;
	border-color: #c99231;
}
.flag{
	max-width: 30px;
}
.property_item .price .tag{
	background: #edbc32;
}
.menu-active{
	background:#edbc32;
	
}
.menu-active a{
	color:white !important;
	font-weight: 700;
}
nav.navbar.bootsnav ul.nav > li > .active {
    color: #edbc32;
}