
h1,h2,h3,h4,h5,h6{
  font-family: 'Hanuman', serif;
  line-height: 1.25em;
  font-weight: normal;
  color:#003399;
}
a,p,body{
      font-family: 'Hanuman', serif;
}
.text{
  font-family: 'Hanuman', serif !important;
}
.main-menu .navigation > li > a{
	font-size:17px;
}
.sqft-area input[type="text"] {
	font-family: 'Hanuman', serif !important;
}
.price_slider_amount input[type="text"]{
	font-family: 'Hanuman', serif !important;
}
.header-default .member-actions .button{
	font-family: 'Hanuman', serif !important;
}
.button.alt{
	font-family: 'Hanuman', serif !important;
}
.property-tag.status{
	font-family: 'Hanuman', serif !important;
}
.button-icon{
	font-family: 'Hanuman', serif !important;
}
.cta.newsletter input[type="email"]{
	font-family: 'Hanuman', serif !important;
}
.button, input[type="submit"]{
	font-family: 'Hanuman', serif !important;
}
.blog-post-content h3 a{
	font-family: 'Hanuman', serif !important;
}
.btn-blue{
	font-family: 'Hanuman', serif !important;
}
.tag_t, #agent-2-slider .feature .tag-2 {
	font-family: 'Hanuman', serif !important;
}

.header-menu ul li a {
    color: #ffffff;
    display: block;
    font-size: 16px;
    font-weight: 500;
    padding: 35px 0;
    text-transform: uppercase;
    font-family: 'Hanuman', serif !important;
}